.card {
  border: none !important;
}
.card-header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}
.customBtnLink {
  text-decoration: none !important;
  font-size: 1.3rem !important;
  font-weight: 900 !important;
  margin: 10px 0 !important;
  color: var(--fontColor2) !important;
}
.card-header {
  background-color: white !important;
}
.customBtnLink:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.collapsText {
  font-size: 1.2rem !important;
  color: var(--fontColor) !important;
}
