.roadCard {
  text-align: center;
  width: 100%;
}
.roadCradTitle {
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
}
.percent {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background: linear-gradient(45deg, var(--violent), var(--pink));
  transform: rotate(45deg);
  margin-bottom: 20px !important;
  border-radius: 5px;
}
.percent p {
  color: white !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  padding-top: 5px;
  margin-top: 12px;
  transform: rotate(-45deg) !important;
}

.roadCard p {
  font-size: var(--fontSize);
  color: var(--fontColor);
}

@media only screen and (max-width: 768px) {
  .roadCard {
    margin-bottom: 28px;
    border: 1px solid var(--violent);
    border-radius: 10px;
    padding: 0 15px;
  }
}
