.gradientBtn {
  border: none;
  background: linear-gradient(90deg, var(--blue), var(--pink), var(--violent));
  padding: 10px 30px;
  color: var(--fontWhite) !important;
  border-radius: 30px;
  font-weight: 600;
}
.gradientBtn i {
  margin-right: 15px;
  font-size: 12px;
}
.gradientText {
  width: fit-content;
  background: linear-gradient(90deg, var(--blue), var(--pink), var(--violent));
  font-weight: 900;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 2px;
}

/* bar title */
.barTitle {
  width: 100%;
  text-align: center;
  color: var(--fontColor);
  position: relative;
}
.barTitle::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: var(--fontColor);
  top: 52%;
  left: 39%;
}
.barTitle::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: var(--fontColor);
  top: 52%;
  right: 39%;
}
@media only screen and (max-width: 1400px) {
  .barTitle::before {
    left: 37%;
  }
  .barTitle::after {
    right: 37%;
  }
}
@media only screen and (max-width: 768px) {
  .gradientBtn {
    padding: 9px 25px;
    font-size: 14px;
  }
  .barTitle::before {
    left: 12%;
  }
  .barTitle::after {
    right: 12%;
  }
}
